<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{{ url_for('REGISTRO.login') }}" method="POST" id="form-de-login">
        <input type="text" name="usuario" placeholder="Usuário">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Entrar</button>
        <Label id="mensagem">Mensagem para exibir</Label>
    </form>
    
    <script src="/static/js/showmsg.js">



    </script>
    
</body>
</html>